In [26]:
#importing stuff
import numpy as np
import pandas as pd
import json
import os #used to cycle through your files
import re

In [27]:
#just outline
#pd.read_excel('filename.xlsx', sheet_name=index/name)
    #will default reading in the first sheet
    
#egg = pd.read_excel('PGarchive/egg_final.xlsx')

In [40]:
#reading in my data
egg = pd.read_csv('PGarchive/egg_final.csv')
egg.head()
egg['Pokedex']= egg['ID']
egg.head()

,Unnamed: 0,ID,Pokemon.Name,Gen.2.Steps,Gen.3.Steps,Gen.4.Steps,Gen.5.6.Steps,Gen.7.Steps,Pokedex
0,1,1,Bulbasaur,5120.0,5376.0,5355.0,5140.0,5120,1
1,2,2,Ivysaur,5120.0,5376.0,5355.0,5140.0,5120,2
2,3,3,Venusaur,5120.0,5376.0,5355.0,5140.0,5120,3
3,4,4,Charmander,5120.0,5376.0,5355.0,5140.0,5120,4
4,5,5,Charmeleon,5120.0,5376.0,5355.0,5140.0,5120,5

In [39]:
pogo = pd.read_csv('PGarchive/pogo.csv')
pogo.head()

,Name,Pokedex,Stamina,Attack,Defense,Primary,Secondary,MaxHP,Capture_rate,Escape_rate,Weight,Height,Legendary,MaxCP,Generation
0,Bulbasaur,1,128,118,111,Grass,Poison,113,0.20,0.10,6.9,0.7,No,1115,1
1,Ivysaur,2,155,151,143,Grass,Poison,134,0.10,0.07,13.0,1.0,No,1699,1
2,Venusaur,3,190,198,189,Grass,Poison,162,0.05,0.05,100.0,2.0,No,2720,1
3,Charmander,4,118,116,93,Fire,None,105,0.20,0.10,8.5,0.6,No,980,1
4,Charmeleon,5,151,158,126,Fire,None,131,0.10,0.07,19.0,1.1,No,1653,1

In [32]:
pokemon = pd.read_csv('PGarchive/pokemon.csv')
pokemon
pokemon['Pokedex']= pokemon['pokedex_number']
pokemon.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary,Pokedex
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,1,65,65,45,grass,poison,6.9,1,0,1
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,2,80,80,60,grass,poison,13.0,1,0,2
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,3,122,120,80,grass,poison,100.0,1,0,3
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,4,60,50,65,fire,NaN,8.5,1,0,4
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,5,80,65,80,fire,NaN,19.0,1,0,5

In [33]:
pokemonbig = pd.read_csv('PGarchive/Pokemonbig.csv')
pokemonbig
pokemonbig['Pokedex']= pokemonbig['#']
pokemonbig.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Pokedex
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,2
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,3
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,3
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,4

In [ ]:
#starting to clean

In [14]:
poke = pd.merge(pokemonbig, pogo, on='Name' )

In [21]:
poke['Pokedex']=poke['#']
poke.head()

,#,Name,Type 1,Type 2,Total,HP,Attack_x,Defense_x,Sp. Atk,Sp. Def,...,Primary,Secondary,MaxHP,Capture_rate,Escape_rate,Weight,Height,Legendary_y,MaxCP,Generation_y
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,...,Grass,Poison,113,0.20,0.10,6.9,0.7,No,1115,1
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,...,Grass,Poison,134,0.10,0.07,13.0,1.0,No,1699,1
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,...,Grass,Poison,162,0.05,0.05,100.0,2.0,No,2720,1
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,...,Fire,None,105,0.20,0.10,8.5,0.6,No,980,1
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,...,Fire,None,131,0.10,0.07,19.0,1.1,No,1653,1

In [23]:
poke = pd.merge(poke, pokemon, on='Pokedex')

In [24]:
poke.head()

,#,Name,Type 1,Type 2,Total,HP,Attack_x,Defense_x,Sp. Atk,Sp. Def,...,percentage_male_y,pokedex_number_y,sp_attack_y,sp_defense_y,speed_y,type1_y,type2_y,weight_kg_y,generation_y,is_legendary_y
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,...,88.1,5,80,65,80,fire,NaN,19.0,1,0